.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.note_list li {
  /*display: inline-block;*/
  padding-top: 10px;

}

.title {
  font-weight: bold;
  
}

.content {
  font-weight: bold;
}