<ol>
  <h3>All Notes</h3>
  <% @notes.each do |note| %>
    
    <li><p>Note Title:</p><br>
      <a href="/notes/<% note.id %>"><%= note.title %></a></li>
    <br>
    <li><p>Note Content</p><br>
      <%= note.content %><br>
      <p><a href="/notes/<% note.id %>/edit">Edit this note</a></p>
    </li>
  <% end %>
</ol>
