<h2>Create a new note here:</h2>

<form class='new_note' method='post' action='/notes'>
  <input type='text' name='new[title]' placeholder='Title'>
  <input type='text' name='new[content]' placeholder='Content'>
  <input type='submit' value='Create'>
</form>
